h4 {
  text-transform: uppercase;
  color: black;
}

img {
  height: 150px;
  weight: 125px;
  border-radius: 30px;
  margin-top: 10px;

}

.photo{
  /*background-color: #FFBABA;*/
  background-color: orange;
  /*max-width: 80%;*/
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
}
.bio p span {
  text-transform: uppercase;
  display: block;
}

.bio p{
  background-color: lightblue;
    border-radius: 5px;

}
.desc{
  text-indent: 1%;
  /*max-width: 80%;*/
  background-color: yellow;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: orange;
}
